<!DOCTYPE html>
<html>

<head>
    <title>Rules & Terms | IndicaCorp</title>

    <link rel="icon" type="image/png" href="../public/assets/indicacorp-logo.png">

    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:100,300,400,500,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../public/css/lib/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../public/css/terms.css" />
</head>

<body>
    <div class="container">
        <a class="back-btn" href="https://indicacorp.net">Back to IndicaCorp</a>
        <br />
        <h1>Rules, Terms, & Conditions</h1>

        <h2>General Rules</h2>
        <ul>
            <li>No NSFW content in main channels.</li>
            <li>No racism or harassment of any kind.</li>
            <li>No advertising or soliciting of any kind without approval from server administrators.</li>
            <li>No spamming.</li>
            <li>Respect all staff.</li>
            <li>Do not impersonate staff.</li>
            <li>Use of cheats or exploits is strictly prohibited. If you discover an issue, please, report it to an
                administrator.</li>
        </ul>

        <h2>Terms of Play</h2>
        <p>
            Thank you for choosing IndiciaCorp! We want to set some things clear through this terms agreement to
            protect us, you, and everybody else. <strong>Violations will not be tolerated and may result in one of many
                potential punishments</strong>. Where no rules are given for any instance, common sense will be
            enforced.
            "Proper" defines to anything that staff members may consider acceptable on the server.
        </p>

        <h2>Section I: Your Rights</h2>
        <p><strong>You have the following rights to you granted as long as you accept the rest of the
                agreement:</strong>
        </p>
        <ul>
            <li>The right to play on the server, free of charge, no matter your level of experience.</li>
            <li>The right to enjoyment, or a good time should you choose to embrace what IndicaCorp has created.</li>
            <li>The right to a peaceful experience without the disturbance of others.</li>
            <li>The right to participate in our economic system (including crates) with or without spending actual
                currency.
            </li>
            <li>The right to privacy with the exception of global channels.</li>
        </ul>
        <p><strong>You are not given the right to:</strong></p>
        <ul>
            <li>Violate any part of this clause.</li>
            <li>
                Write, type, or publish any content generally considered not safe for work (NSFW), discriminatory,
                racist,
                profane, obscene, illegal under US Law, or unacceptable as deemed by staff without proper disclosure and
                placement.
            </li>
            <li>Advertise or solicit without prior approval from an administrator.</li>
            <li>Disrespect, impersonate, or attempt to phish anyone, in-game or in the physical world.</li>
            <li>Cheat, hack, exploit, attack, or threaten anyone or any part of the IndicaCorp network.</li>
        </ul>

        <h2>Section II: Liabilities</h2>
        <p>
            <strong>Limitation of Liability:</strong> In no event shall IndicaCorp or its suppliers, partners,
            or business affiliates (collectively "we") be liable for any damages (including, without limitation, damages
            for
            loss of data or profit, or due to business interruption) arising out of the use or inability to use the
            materials on our Internet site or Minecraft servers, even if we or any of our authorized representatives has
            been notified orally or in writing of the possibility of such damage. We are not directly responsible for
            any
            lost profit, or data.
        </p>
        <p><strong>Mandatory Responsibilities:</strong></p>
        <ul>
            <li>Use English in all public channels.</li>
            <li>Play fairly without using unauthorized modifications of which include unacceptable mods as deemed by our
                staff.</li>
            <li>Bypass any limits, especially monetary.</li>
            <li>Agree not to file a class-action lawsuit against us in the event of a DDoS attack or for lost data or
                profit.</li>
            <li>Agree to the most recent version of this terms of play agreement at all times with or without notice.
            </li>
        </ul>
        <br />
        <p>For all inquiries, questions, or concerns please email us at <a
                href="mailto:admin@indicacorp.net">admin@indicacorp.net</a>, or contact us directly on <a
                target="_blank" href="http://discord.indicacorp.net">Discord</a></p>
        <br />
        <a class="back-btn" href="https://indicacorp.net">Back to IndicaCorp</a>
    </div>

</body>

</html>