body {
    background-color: #F6EFFC;
    font-family: "Roboto Mono", arial, serif;
    padding: 25px;
    box-sizing: border-box;
}

.container {
    background: #fff;
    padding: 35px;
    border-radius: 10px;
    box-sizing: border-box;
}

h1 {
    margin: 25px 0;
}

h2 {
    margin: 35px 0 10px 0;
}

.back-btn {
    background-color: #A851ED;
    color: #fff;
    border-radius: 10px;
    padding: 15px;
    font-size: 1.2em;
    font-weight: 300;
    text-decoration: none;
    -webkit-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
}

.back-btn:hover {
    color: #fff;
    text-decoration: none;
    background-color: #9128E7;
}